<h2 class="bg-success text-light p-1">{{getName()}}'s Tasks</h2>
<div class="my-1">
  <input class="form-control" #taskData />
  <button class="btn btn-success mt-1" (click)="addTask(taskData.value)">Add Task</button>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Task Name</th>
      <th>Action</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of getTasks(); let i = index;">
      <td>{{i}}</td>
      <td>{{ task.task }}</td>
      <td><input type="checkbox" [(ngModel)]="task.done"></td>
      <td [ngSwitch]="task.done">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchCase="false">No</span>
      </td>
    </tr>
  </tbody>
</table>